@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: ;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url("https://drive.google.com/thumbnail?id=152ilQ5lt2FncmdbzxsX0hT5bpQt8yUYH&sz=w10000"); */
  background-image: url("@/../../assets/img/background.jpg");
}

body::before {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.my-animated-button {
  position: relative;
  padding: 24px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.my-animated-button::before,
.my-animated-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #fff;
  transition: all 0.5s;
  -webkit-animation: clippath 3s infinite linear;
  animation: clippath 3s infinite linear;
  border-radius: 10px;
}

.my-animated-button::after {
  -webkit-animation: clippath 3s infinite -1.5s linear;
  animation: clippath 3s infinite -1.5s linear;
}

@-webkit-keyframes clippath {
  0%,
  100% {
    -webkit-clip-path: inset(0 0 98% 0);
    clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
    clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
    clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
    clip-path: inset(0 0 0 98%);
  }
}

@keyframes clippath {
  0%,
  100% {
    -webkit-clip-path: inset(0 0 98% 0);
    clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
    clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
    clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
    clip-path: inset(0 0 0 98%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
